dash==1.13.4
dash-renderer==1.5.1
dash-html-components
dash-core-components==1.10.1
dash-dangerously-set-inner-html
plotly
gunicorn==19.9.0
pandas==0.24.2
pydub==0.23.1
gtts
transformers==2.11.0
torch
bs4
html5lib
lxml
.
